body {
  background: var(--color-neutral-200);
  color: var(--color-neutral-900);
  font-size: var(--font-size-200);
  font-family: var(--font-family-sans-serif);

  @media print {
    background-color: transparent;
  }
}
