body {
  background: var(--ui-color-background);
  color: var(--ui-color-text);
  font-size: var(--ui-font-size-200);
  font-family: var(--ui-font-family-sans-serif);

  @media print {
    background-color: transparent;
  }
}
