html,
body {
  height: 100%;
}

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  overflow-y: scroll;
}

#preview {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: var(--space-500);

  @media print {
    margin: 0;
  }
}

#toolbar {
  position: fixed;
  inset: var(--space-400) var(--space-400) auto auto;

  @media print {
    display: none;
  }
}

#footer {
  position: fixed;
  inset: auto 0 0 0;

  @media print {
    display: none;
  }
}
