:root {
  --ui-app-background: var(--color-neutral-200);
  --ui-app-text: var(--color-neutral-900);

  --ui-toolbar-background: var(--color-neutral-000);
  --ui-toolbar-border: var(--color-neutral-400);
  --ui-toolbar-shadow: color-mix(
    in srgb,
    var(--color-neutral-900),
    transparent 15%
  );

  --ui-footer-background: var(--color-neutral-300);
  --ui-footer-border: var(--color-neutral-400);
}
