.card {
  &.index {
    &.tiny {
      --print-card-large-side: 3in;
      --print-card-small-side: 2in;
    }

    &.small {
      --print-card-large-side: 5in;
      --print-card-small-side: 3in;
    }

    &.large {
      --print-card-large-side: 6in;
      --print-card-small-side: 5in;
    }
  }

  &,
  &.portrait {
    height: var(--print-card-large-side);
    width: var(--print-card-small-side);
  }

  &.landscape {
    height: var(--print-card-small-side);
    width: var(--print-card-large-side);
  }
}
