.page {
  background: var(--print-page-background);
  box-sizing: border-box;
  color: var(--print-page-text);
  display: block;
  padding: 0.15in;
  position: relative;
  overflow: hidden;

  &.columns\:2 {
    columns: 2;
  }

  &.columns\:3 {
    columns: 3;
  }

  hr {
    visibility: hidden;
    break-after: column;
  }
}