.page {
  background: #ffffff;
  box-sizing: border-box;
  color: #000000;
  display: block;
  padding: 0.15in;
  position: relative;
  overflow: hidden;

  hr {
    visibility: hidden;
    break-after: column;
  }
}
