.sheet {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0.15in;
  place-content: space-evenly;
  overflow: hidden;

  @media screen {
    background-color: #ffffff;
    border: solid 1px #00000030;
    box-shadow: 5px 5px 20px #00000030;
  }

  @media print {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  &.a4 {
    --print-sheet-large-side: 297mm;
    --print-sheet-small-side: 210mm;
  }

  &.a5 {
    --print-sheet-large-side: 210mm;
    --print-sheet-small-side: 148mm;
  }

  &.letter {
    --print-sheet-large-side: 11in;
    --print-sheet-small-side: 8.5in;
  }

  &.portrait {
    height: var(--print-sheet-large-side);
    width: var(--print-sheet-small-side);
  }

  &.landscape {
    height: var(--print-sheet-small-side);
    width: var(--print-sheet-large-side);
  }
}
