[role="toolbar"] {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  margin: 0;
  padding: 0;
  z-index: 1;

  [role="group"] {
    background-color: var(--color-neutral-000);
    border: solid var(--color-neutral-400) var(--border-100);
    border-radius: var(--rounding-100);
    box-shadow: 0 0 5px var(--color-neutral-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    padding: var(--space-100);
  }

  button {
    border-radius: var(--rounding-100);
    font-size: var(--font-size-200);
  }

  button:not(:disabled):where([aria-label]) {
    anchor-name: --button-tooltip;

    &::after {
      margin-inline-end: var(--space-300);
      right: anchor(left);
      top: anchor(center);
      transform: translateY(-50%);
    }
  }
}
