:root {
  --color-neutral-000: #ffffff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e5e5e5;
  --color-neutral-400: #d4d4d4;
  --color-neutral-500: #a3a3a3;
  --color-neutral-600: #737373;
  --color-neutral-700: #525252;
  --color-neutral-800: #404040;
  --color-neutral-900: #262626;
  --color-neutral-shadow: #26262630;

  --color-accent-100: #fff7ed;
  --color-accent-200: #ffedd5;
  --color-accent-300: #fed7aa;
  --color-accent-400: #fdba74;
  --color-accent-500: #fb923c;
  --color-accent-600: #f97316;
  --color-accent-700: #ea580c;
  --color-accent-800: #c2410c;
  --color-accent-900: #9a3412;
}
