:root {
  --space-000: 0;
  --space-100: 3px;
  --space-200: 6px;
  --space-300: 9px;
  --space-400: 12px;
  --space-500: 15px;
  --space-600: 18px;
  --space-700: 21px;
  --space-800: 24px;
  --space-900: 27px;
}
