:root {
  --ui-space-000: 0;
  --ui-space-100: 3px;
  --ui-space-200: 6px;
  --ui-space-300: 9px;
  --ui-space-400: 12px;
  --ui-space-500: 15px;
  --ui-space-600: 18px;
  --ui-space-700: 21px;
  --ui-space-800: 24px;
  --ui-space-900: 27px;
}
